.dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
}

.num_cells {
    max-height: 50px;
    overflow-y: auto;
}

#cell_select {
    width:50px;
}

tr td {
    padding: 0;
    margin: 0;
    text-align: center;
    vertical-align: center;
}

.btn_content button {
    padding: 15px;
    width:50px !important;
    text-align: center;
}
