.dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
}

#cell_select {
    width:50px;
    padding-left:0;
    padding-right:0;
}

#cell_contents {

}

#cell_taps {
    justify-content: space-evenly;
}

.cell {
    padding: 10px;
    width:50px !important;
    text-align: center;
}

#output {
    resize: none;
    height: 400px;
    max-height: 400px;
    overflow-y: auto;
    text-align: left;
    padding: 20px;
}
#output p {
    margin-top:2px;

}

.btn-outline-dark:hover {
    background-color:#DADCDE;
    color: black;
}

.btn-secondary {
    color:black;
    background-color: #AEB0B1;
    border: 1px solid black;
}

.btn-secondary:hover {
    background-color: #747576;
    border: 1px solid black;
}

tr td {
    padding: 0;
    margin: 0;
    text-align: center;
    vertical-align: center;
}

